/////////////////////////////////////////
// LOGO
.logo {
  height: 3.2rem;
  margin-left: 2rem;
}

/////////////////////////////////////////
// SEARCH
.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $bp-small-2) {
    order: 1;
    flex: 0 0 100%;
  }
  &__input {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    width: 90%;
    border: none;
    border-radius: 100px;
    padding: 0.7rem 2rem;
    margin-right: -3.5rem;
    background-color: var(--color-grey-light-3);
    transition: all 0.3s;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-3);
    }
  }

  &__input:focus + &__btn {
    background-color: var(--color-grey-light-3);
  }

  &__btn {
    border: none;
    background-color: var(--color-grey-light-2);
    color: #aaa;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/////////////////////////////////////////
// USER NAVIGATION
.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  @media screen and (max-width: $bp-small-2) {
    margin-top: 2rem;
  }

  // in be in manas ke kol direct child elemt haro select mikone
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-4);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notif {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.25rem;
    right: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

/////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
  font-size: 1.5rem;
  list-style: none;
  margin-top: 3rem;

  @media screen and (max-width: $bp-med) {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &__item {
    position: relative;

    @media screen and (max-width: $bp-med) {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media screen and (max-width: $bp-med) {
        margin: 0;
      }
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color-grey-light-1);
    display: inline-block;
    padding: 1.5rem 3rem;

    // z-index zamani kar mikone ke ye position vasash tain shode bashe on element
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

    @media screen and (max-width: $bp-med) {
      justify-content: center;
      padding: 2rem;
    }

    @media screen and (max-width: $bp-small) {
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: currentColor;
    margin-right: 2rem;

    @media screen and (max-width: $bp-small) {
      margin: 0;
      margin-bottom: 0.7rem;
      width: 2rem;
      height: 2rem;
    }
  }
}

/////////////////////////////////////////
// Copyright TEXT
.copyright {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;

  @media screen and (max-width: $bp-med) {
    display: none;
  }
}

/////////////////////////////////////////
// HOTEL GALLERY
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

/////////////////////////////////////////
// HOTEL OVERVIEW
.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-3);

  &__heading {
    padding: 1.5rem 3rem;
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.2rem 2rem;
    }
  }

  &__stars {
    // har moghe dar flex khastim ke y fazaye ziadio fasele bedim bedone in ke az flex grow va space bettwen estefade konim az margin auto estefade mikonim
    margin-right: auto;
    // baraye in ke on white space va inke daqiqan center beshan dakhel elemet fqt display ro flex mikonim
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__rating {
    align-self: stretch;
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2.25rem;

    @media screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @media screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;

    @media screen and (max-width: $bp-small) {
      font-size: 0.5rem;
    }
  }
}

/////////////////////////////////////////
// BUTTON INLINE
.btn-inline {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: inherit;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  background-color: transparent;

  & span {
    margin-left: 3px;
    transition: all 0.3s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    & span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

/////////////////////////////////////////
// HOTEL DETAIL DESCRIPTION
.description {
  font-size: 1.4rem;
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--shadow-light);

  @media screen and (max-width: $bp-med) {
    padding: 2;
    margin-right: 3rem;
  }

  @media screen and (max-width: $bp-small) {
    margin-bottom: 3rem;
    margin-right: 0;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  flex-wrap: wrap;

  @media screen and (max-width: $bp-med-2) {
    flex-direction: column;
  }

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
  }

  &__icon {
    color: var(--color-primary-light);
  }
}

.recommend {
  display: flex;
  align-items: center;
  &__count {
    color: var(--color-grey-dark-3);
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

/////////////////////////////////////////
// HOTEL DETAIL USER REVIEW
.user-review {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
}

.review {
  position: relative;
  background-color: #fff;
  padding: 3rem;
  margin-bottom: 3.5rem;
  box-shadow: var(--shadow-light);

  @media screen and (max-width: $bp-med) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    border-radius: 100px;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__user-date {
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -5rem;
    left: -3rem;
    line-height: 1;
    font-size: 20rem;
    color: #ddd;
    font-family: sans-serif;
  }
}

/////////////////////////////////////////
// HOTEL DETAIL CTA
.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media screen and (max-width: $bp-med) {
    padding: 2.5rem 0;
  }

  &__heading {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 2.5rem;
  }
}

/////////////////////////////////////////
// CTA BUTTON
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-dark);
  transition: all 0.2s;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    padding: 2rem 0;
    position: absolute;
    top: -100%;
    left: 0;
  }

  &:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:active {
    transform: translateY(3px);
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
  }

  // &:focus {
  //   animation: pulsate 1s infinite;
  // }
}
